body {
  background: blueviolet;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.game {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  justify-content: center;
  margin: 20px auto;
  border: 4px solid black;

}

.square {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  background: #444;
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.square:hover {
  background: #d18585;
}

.reset-btn {
  background: #b08442;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 6px;
}

.reset-btn:hover {
  background: #e68900;
}
