* {
  margin: 0;
  padding: 0;
}

/* Background */
.nav-dark {
  background-color: #1E1E1E;
}

/* Brand Title */
.brand-title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Hover effect */
.nav-hover {
  transition: 0.2s;
  
}

.nav-hover:hover {
  color: #00d084 !important;
  transform: translateY(-1px);
  font-size: 2.7rem !important;  /* <-- FORCES size change */
  
}

/* Search box */
.search-box {
  border-radius: 20px;
  padding-left: 12px;
}
