




#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: yellow;
  text-decoration-color: black;
}





@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.card {
  padding: 2em;
}

.read-the-docs {
  color: yellow
}
